<p>home works!</p>

<app-nav-bar></app-nav-bar>

<app-card
*ngFor="let child of children" [child]="child"
[title]="card.name"
></app-card>

<app-card
  title="Peaceful Beach"
  description="Relax and unwind on this serene beach."
  imageUrl="https://via.placeholder.com/600x300"
  buttonText="Explore"
  buttonLink="https://example.com/beach"
></app-card>

<app-card
  title="Modern Cityscape"
  description="Discover the vibrant life in a bustling city."
  imageUrl="https://via.placeholder.com/600x300"
  buttonText="Visit Now"
  buttonLink="https://example.com/city"
></app-card>