<mat-toolbar>
    <mat-toolbar-row>
    <button mat-button class="app-name" aria-label="Example icon-button with menu icon">
      <mat-icon inline="true" class="greenicon">extension</mat-icon>
      <span>Beller-Online</span>
    </button>
</mat-toolbar-row>
    <mat-toolbar-row>
        <span>Kinderübersicht</span>
        <span class="example-spacer"></span>
        <dialog-animations-example buttontxt="Hinzufügen" [dialogComponent]="AddChildDialog"></dialog-animations-example>
      </mat-toolbar-row>
  </mat-toolbar>
  